[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "uiucthemes"]
	path = uiucthemes
	url = https://github.com/illinois-r/uiucthemes
	shallow = true
	registered = true
